CSharp/obj/BaroWardrobeSwitcher.csproj.nuget.dgspec.json
CSharp/obj/BaroWardrobeSwitcher.csproj.nuget.g.props
CSharp/obj/project.assets.json
CSharp/obj/project.nuget.cache
CSharp/obj/Debug/BaroWardrobeSwitcher.AssemblyInfo.cs
CSharp/obj/Debug/BaroWardrobeSwitcher.AssemblyInfoInputs.cache
CSharp/obj/Debug/BaroWardrobeSwitcher.assets.cache
CSharp/obj/Debug/BaroWardrobeSwitcher.csproj.AssemblyReference.cache
CSharp/obj/Debug/BaroWardrobeSwitcher.GeneratedMSBuildEditorConfig.editorconfig
